/* user-details.component.css */
mat-tab-group {
    margin-top: 20px;
  }

  mat-card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    width: 90%; /* Set the width to 80% of the container */
    margin: 0 auto;
  }

  mat-card-header,
mat-card-content {
  padding: 10px; /* Add padding for better spacing */
}

mat-card:first-child {
  margin-top: 40px; /* Set a different top margin for the first card */
}

.custom-title {
  padding-top: 0; /* Set padding-top to 0 to remove the top padding */
  margin: 0; /* Optionally, set margin to 0 if needed */
}

.full-width{
  width: 100%;
}

.label-format{
  font-size: 15px;
  padding-bottom: 5px;
  
}
.padding-format{
  padding-left: 10%;
  padding-bottom: 10px;
}

.title-padding{
  padding-top: 10px;
}